server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /var/www/{{  domain_name  }}/html;
        index index.html;

        location / {
                try_files $uri $uri/index.html;
        }
}

